
.movie-card {
  width: 200px;
  flex-shrink: 0; /* Prevent card from shrinking */
  margin-right: 12px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.08);
}

.movie-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
}

.movie-title {
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin-top: 8px;
}
